<h1><%= t('.Show Task') %></h1>
<p><b><%= t('.Title') %>:</b> <%= @task.title %></p>
<p><b><%= t('.Content') %>:</b> <%= @task.content %></p>
<p><b><%= t('.Created_at') %>:</b> <%= @task.created_at %></p>
<p><b><%= t('.deadline_on') %>:</b> <%= @task.deadline_on %></p>
<p><b><%= t('.priority') %>:</b> <%= @task.priority %></p>
<p><b><%= t('.status') %>:</b> <%= @task.status %></p>
<p><b><%= t('.label') %>: </b> 
  <% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>
<%= link_to t('.Edit'), edit_task_path(@task.id), id: 'edit-task', class: 'btn btn-primary' %>
|
<%= link_to t('.Back'), tasks_path, id: 'back', class: 'btn btn-info' %>
