<h1><%= t('.User Index Page') %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.admin') %></th>
      <th><%= t('.tasks') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.preload(:tasks).each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin_i18n %></td>
      <td><%= user.tasks.count %></td>
      <td><%= link_to t('.show-user'), admin_user_path(user), class:'show-user btn btn-primary' %></td>
      <td><%= link_to t('.edit-user'), edit_admin_user_path(user), class: 'edit-user btn btn-primary' %></td>
      <td><%= link_to t('.destroy-user'), admin_user_path(user), method: :delete, class: 'destroy-user btn btn-danger', data: {confirm: t('.Are you sure?')} %></td>
    </tr>
    <% end %>
  </tbody>
</table>